/*-------------cssreset--------------*/

*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}



body { font-family: 'Libre Baskerville', serif, Georgia, Times,'Times New Roman'; 
    color: #666666; } 
   

body{background:rgba(244, 243, 215, 100)  ;
     ;
    width: 100%;
height: auto}


                  
article {  width: 100%;
    margin: 8em auto;
 background-color: rgb(196,255,243); 
    padding: 2em 12em 2em 12em;
border: 0px solid #000000;
   ;
} 





/*--------------links-----------------*/
a {
    color: rgb(89, 89, 89);
    text-shadow: 0.7;
    font-size: 2em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    opacity: 0.8;
 }
a:hover { color: rgb(154, 154, 154);
border-bottom: none;
    
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
    ;
}      

/*--------------nav-----------------*/
nav {width: 135%;
	float: left;
	margin:0em; 
	border-top: 0px solid #666666;
    border-bottom: 0px solid #666666;
 position: absolute; 
    top: 0;
    left:0;
    -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
	margin-left: -11.5em;
	margin-top: 25em
  
}

nav ul{ font-family: 'signpainter', sans-serif;
    list-style-type: none;
    font-size: 1.5em;
             text-align: left;
             text-transform: none;
             letter-spacing: 1px;
	opacity: 1;}


.About-me { background-color: rgb(196,255,243)  ;
	padding-left:6em
	
;
	
}
.Blog { background-color: rgb(181,185,249);
	padding-left:9.8em;
}
.Portfolio { background-color: rgb(255,196,196);
	padding-left:8em;
}
.Where-i-am { background-color: rgb(249,255,196);
	padding-left:7em;
}
.e-mail { background-color: rgb(198,255,196);
	padding-left:10.3em;
}
/*---------------img----------------------------*/

img {position:absolute;
	top:0;
	z-index: 100;/* this brings image infront of nav*/
  top: 50%;
  left: 50%;
  margin-top: -340px;
	margin-left: -160px;}
	
img:hover {transform: scale(1.1);
	transition: all .2s ease-in-out;
    -webkit-transform: scale 1.1 ;   
-moz-transition: all .2s ease-in-out;      
-o-transition: all .2s ease-in-out;
opacity: 1}

/*-----------------text-----------*/

article{width:65%;
display: block;
margin-top: 60em;
}




h1{font-family: 'signpainter', sans-serif;
    color: black;
    
    padding: ;
    margin:;
 font-size:3em;
line-height: 1.5em}


p{font-family: Lantinghei SC;
    color: black;
    
    padding: 2em,1em,2em,1em;
    margin: 1.5em;
 font-size:1.2em;
line-height: 1.5em;


}

          
hr{color: rgba(196,255,243,100)}    

 

blockquote p { font-family:'signpainter'; 
    display: block;
    border:4px ;
    padding: 1em ;
    font-size: 2.5em;
    line-height:1.25em;
    background-color: rgb(255,196,196);
    hanging-punctuation: first;
            text-indent: -0.5em;
 
      }
        

blockquote cite { font-family:'Lantinghei SC';
    font-size: .45em;
	display: block;
    
}

.social { display: inline;
       }

.social:hover{opacity: 0.5; 
    cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
 

/*------------------ TABLET ----------------------*/
@media (max-width: 50em) {
    
    body {

        /*background: #333;*/
    }
    
article {
    width: 95%;
    padding: 0.5em;
	margin-top: 40em
    } 
   
    img {height:90%;
    position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
	margin-left: -100px;}
	
	nav {width: 200%;
	float: left;
	margin:0em; 
	border-top: 0px solid #666666;
    border-bottom: 0px solid #666666;
 position: absolute; 
    top: 0;
    left:0;
    -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
	margin-left: -11.5em;
	margin-top: 22em;
		
  

   
} 
/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
	 article{margin-top: 50em}
   body {
    margin-top:-4em;
       background:
    width: 100%;
    font-size: 90%;
    }
   
	 
	 nav {width: 200%;
	float: left;
	border-top: 0px solid #666666;
    border-bottom: 0px solid #666666;
    position: absolute; 
    top: 0;
    left:0;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
 	margin-left: -11.5em;
    
	 }
	
	 nav ul{ 
		 font-family: 'signpainter', sans-serif;
    list-style-type: none;

             text-align: left;
             text-transform: none;
             letter-spacing: 1px;
       opacity: 1;
color: rgb(89, 89, 89);
    } 
	 
	 nav ul li{padding: 1em;
	 font-size: 0.6em;
	 margin-left:5em}
.Blog {
		margin-left: 5.8em
;}
.Portfolio {margin-left: 6.5em;
}
.Where-i-am {margin-left: 7.2em
}
.e-mail { margin-left: 8.3em
} */



