

/*-------------cssreset--------------*/

*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}

/*-------------------------------------*/
body{ 
	background: url(../image/Untitled-2.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: rgba(244, 243, 215, 100);
}

img

	