/*-----------------CSS RESET------------------------*/
*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
}


-----------------------------------------
body { font-family: 'Libre Baskerville', serif, Georgia, Times,'Times New Roman'; 
    color: #666666; } 
   

body{background:rgba(244, 243, 215, 100)  ;
     url(../images/Untitled-1.png);
    width: 100%;
height: auto}


                  
article {   width: 75%; 
    max-width: 760px;
    margin: 8em auto;
 background-color:rgba(244, 243, 215, 100); 
    padding: 0 2em 2em 2em;
border: 0px solid #000000;
   ;
} 
                  
            /*-----------------------TYPOGRAPY*-------------------------------*/ 
              
 h1, h2, h3, h6 { 
               font-weight: normal;
               line-height: 1.3;
               text-align: left;
font-family: '', ;
color: rgba(, , , ); }
          
          h1 {font-size: 3.350em;
padding: 2em 0 0.5em 0;
              border-bottom: none;
text-align: center}

          h2 {font-size: 2.25em;
              padding: 2em 0 1em 0} 

          h3 {font-size: 1.5em;
padding: 3em 0 .5em 0} 

          h6 {padding: 2em 0 2em 0}


header h2 {padding: 1em 0 1em 0;
    font-style: italic;
    font-size: 1.8em;
    line: 1em;
    margin: -0.5em 0 2em 0
    
        }

p {font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 1.5em 2em 1.5em 2em;
    margin-top: 2em;
 font-size:1.3em;
line-height: 1.25em;
color: rgba(166, 166, 166, 1);
 
border: none;}

          
    
blockquote p {
    margin:;
    background: ;
    border:4px ;
    padding: 2em 0 1em 0;
    font-size: 1.75em;
    line-height:1.25em;
  
        
      }
        

blockquote cite {
    font-size: 1.2em;
    
}
 
.anchor { text-transform: uppercase;
    font-size:0.5em;
    
}

blockquote p {
            color: ;
            hanging-punctuation: first;
            text-indent: -0.5em;
}

.intro {font-size: 1.5em;
        line-height: 1.25em;
    color:rgba(, , , );
    
        } 
hr {color: white;
margin-bottom: 2em;
}
/*--------------------------------LINKs-----------------------------------*/
a {
    color: rgb(204, 255, 204);
    text-shadow: 0.7;
    font-size: 1em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    opacity: 0.8;
 }
a:hover { color: white;
border-bottom: none;
    
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
    ;
}      
/*.arrow{opacity: 0.8}
.arrow:hover{ opacity: 1;
    transform: scale(1.2);
-webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;} */

/*---------------------------------NAV--------------------------------------*/


nav { border-top: 0px solid #666666;
    padding: 2em 0 2em 0;
      border-bottom: 0px solid #666666;
 position: absolute; 
    top: 0;
    left:0;
    width:100%;
background-color: rgba(166, 166, 166, 0.95);
    border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
}
   
        
nav ul{ font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
             text-align: center;
             text-transform: none;
             letter-spacing: 1px;
    color: rgb(204, 255, 204);
       opacity: 1}

nav ul li {
    
    display: inline;
    margin: 20px;
     opacity: 1
    }

/*----------------------------IMAGES-----------------------------------*/
li a {padding:2em 0 2em 0}


img {
       max-width:100%;
       padding: 0;       
       display: block;
       margin: 0em auto
}
/* rslides*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 80%;
  padding: 0;
  margin: 0 10em 0 10em;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 80%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 80%;
  border: 0;
  }

a img{opacity: 0.6;
    display: inline}
a img:hover{opacity: 1;

    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;}
/*-----------------FOOTER--------------*/



/*-----------------------TABLE----------------------

table { margin: auto;
       width: 100%;
       display: table;
       border-collapse: collapse;
       border-spacing: 20px;
       border-color: #fff}

caption {text-align: left;
    margin-bottom: 1.5em;
         text-transform: uppercase
}
table.head, th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #666;}

th,td{
    padding:.6em;
}

table, td {
    background: #00e6b5;
    background: rgba(0, 230, 181, .4);
    border: 2px solid white}                */

/*------------------ TABLET ----------------------*/
@media (max-width: 50em) {
    
    body {
        /*background: #333;*/
    }
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
    }
} 

/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
    
   body {
    margin: auto 0;
       /*background: #c06;*/
    width: 100%;
    font-size: 110%;
    }
     .intro{font-size: 1.3em}  
article {
    width: 90%;
    } 
 .rslides{margin:1px ;
         padding: 0em 0em 0 4em}
h1 {font-size: 2.9em;}   

blockquote p{padding: 0;
line-height: 1.5em}  
     
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}  
     
     
     
nav ul li {font-size: .75em;
        margin: 5px}

