/*-------------cssreset--------------*/

*{
padding:0;
margin: 0;
font-family:100%;
line-height:1em;
	box-sizing: border-box;
}


body { font-family: 'Libre Baskerville', serif, Georgia, Times,'Times New Roman'; 
    color: #666666; } 
   

body{background:rgba(244, 243,215,100)  ;
     ;
    width: 100%;
height: auto;
overflow-x: hidden;}


                  
article {  width: 100%;
    margin: 0 auto;
 background-color: /*rgb(196,255,243); 
    padding: 2em 14em 2em 14em;
border: 0px solid #000000;*/
   ;
	margin-top: 53em;
} 





/*--------------links-----------------*/
a {
    color: rgb(89, 89, 89);
    text-shadow: 0.7;
    font-size: 2em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    opacity: 0.8;
 }
a:hover { color: rgb(154, 154, 154);
border-bottom: none;
    
    -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
    ;
}      

/*--------------nav-----------------*/
nav {width: 200%;
	float: left;
	margin:0em; 
	border-top: 0px solid #666666;
    border-bottom: 0px solid #666666;
 position: absolute; 
    top: 10em;
    left:0;
    -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
	margin-left: -11.5em;
	margin-top: 20em;
  
}

nav ul{ font-family: 'signpainter', sans-serif;
    list-style-type: none;
    font-size: 1.5em;
             text-align: left;
             text-transform: none;
             letter-spacing: 1px;
	opacity: 1;}

/*-------fixed nav------------*/

nav2 {position: fixed;
	top: 4em;
	right:3em;
	transform: scale(1.2);
	z-index: 100;
}
nav2 a{opacity: 1;
}
nav2 ul li{padding-top: 1.5em;
padding-bottom: 2em;
list-style-type: none;}
.fixed-me{margin-left: .2em}
.fixed-blog{margin-left: 0.6em}
.fixed-e-mail{margin-left: .5em}
.About-me { background-color: rgb(196,255,243)  ;
	padding-left:6em	
}

nav2 ul li:hover {transform: scale(1.1)}
.Blog { background-color: rgb(181,185,249);
	padding-left:9.8em;
}
.Portfolio { background-color: rgb(255,196,196);
	padding-left:8em;
}
.Where-i-am { background-color: rgb(249,255,196);
	padding-left:7em;
}
.e-mail { background-color: rgb(198,255,196);
	padding-left:10.3em;
}

/*---------------img----------------------------*/
.portrait{ position: absolute;
top:0;
	z-index: 100;/* this brings image infront of nav*/
  top: 50%;
  left: 50%;
  margin-top: -340px;
	margin-left: -160px;
width: auto;
	
}

.portrait:hover{transform: scale(1.02);
	transition: all .3s ease-in-out;
    -webkit-transform: scale 1.05 ;   
-moz-transition: all .3s ease-in-out;      
-o-transition: all .3s ease-in-out;
opacity: 1;
-webkit-filter: drop-shadow(0 0 5px grey)
}

/*-----noethere ireland-----*/

.n-ireland{margin-top: -53em;
	margin-bottom:-100em ;
	display: block;
	float: inherit;
transform: scale(0.4);
 width: 1000px;
}
.n-ireland a { opacity:1 ;
width 140%;}
.n-ireland img{opacity: 0.8;
margin-left: em;
width: 100}
.n-ireland a .loughneigh{ opacity: 1;
z-index: 100}
.n-ireland  img:hover {transform: scale(1.1);
opacity: 1;
z-index: 100}
.derry{position: relative;
	left:0em;
	top:em;
}
 .antrim{position:relative;
	right:-14em;
top: -19em}
 .down{position: relative;
	top: -25.5em;
left:17.5em;}
.armagh{position: relative;
	right: 8.6em;
top:-25.8em}
.tyrone{position: relative;
	right:8.7em;
top: -53.9em;}
 .fermanagh{position: relative;
	right:13.3em;
top: -63.3em}
 .loughneigh{position: relative;
	right:4.5em;
top: -74.9em;}


/*----colours-----------*/

article{width:100%;
display: block;
margin-top: 53em;
}
.me{ 
	background-color: rgb(196,255,243); 
	 padding: 2em 7em 2em 7em;
	width: 100%;
	margin: 0 auto ;
border: 0px solid #000000;}

.gallerybackground {
	background-color: rgb(255,196,196); 
	padding: 2em 7em 2em 7em;
		width: 100%;
	margin-left:auto;
	margin-right: auto;
	
border: 0px solid #000000;}

.location{
	background-color: rgb(249,255,196); 
	padding: 2em 7em 2em 7em;
	width: 100%;
	margin;
border: 0px solid #000000;
padding:}
/*-----------------text-----------*/


h1{
	font-family: 'signpainter', sans-serif;
    color: black;
 font-size:3em;
line-height: 1.5em}


p{font-family: Lantinghei SC;
    color: back;
	background-color: rgba(255, 255, 255,0.2);
    
    padding: 2em,1em,2em,1em;
    margin: 1.5em 1.5em 1.5em -0.1em;
 font-size:1.5em;
line-height: 1.5em;
	width: 55%;
	padding:2em;
position: static;
	left: auto;
}

          
hr{
	color: rgb(181,185,249);
border-bottom: none;
border-left: none;
	border-right: none;
width: 100%}    

 

blockquote p { font-family:'signpainter'; 
  position: absolute;
	right:0em;
	top: 21.1em;
    border:4px ;
    padding: 1.4em ;
    font-size: 3em;
    line-height:1.25em;
    background-color: rgb(249,255,196);
    hanging-punctuation: first;
            text-indent: -0.5em;
-webkit-box-shadow: 6px 1px 28px 0px rgba(111,169,179,1);
-moz-box-shadow: 6px 1px 28px 0px rgba(111,169,179,1);
box-shadow: 6px 1px 28px 0px rgba(111,169,179,1);
	
	
		width: 30%;
	
      }
        
.quote-right{font-size: 6em;
position: absolute;
top:0.5em;
	right:-0.01em;
}
.quote-left{font-size: 6em;
position: absolute;
top:-0.1em;
left:-0.1em}
blockquote cite { font-family:'Lantinghei SC';
    font-size: .45em;
	
	float: right;
    
}

.social { display: inline;
       }

.social:hover{opacity: 0.5; 
    cursor: pointer;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.location p{margin:auto;
	margin-top: 2em;
	padding:2em;
	width:80%;
}
  /*------------GALLERY-----------*/
a h3 {font-family:  Lantinghei SC;
	font-size: .8em;
	line-height: 1.25em;
	margin-top: .85em;
	margin-bottom: .5em;
	color: rgb(255,196,196);
	padding: .5em;
	text-align: center;
	
}
.main-header {
	text-align: center;
	padding: 2.8em 0;
}
.container {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;}

.photo-container{margin-top: 2em;
background-color:rgb(255,196,196) }
.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow:hidden;
}
.photo-container img {
 	width: 100%;
}


/* ---- Photo Overlay ---- */
.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
	
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;}

/*----Overlay Transitions---- */

.photo-overlay {opacity: 0;
	transition-property: opacity;
		transition-duration:0.5s;
}
.photo-overlay:hover {
	opacity:1;}
}
.photo-overlay:hover h3{ opacity: 1;}
  /*--------------contact-------------*/

.contact {
max-width:960px;
text-align:center;
}

.social{
position:relative;
display: inline-block;
float:left;
padding:10px;
}


     /*--------gallery media queries---------*/


@media (min-width: 0) and (max-width: 768px) {
	.container {
		padding: 0 1.225em .5em;
	}
	
}
@media (min-width: 769px) {
	.container {
		padding:  2.25em 4em;
	}
	.photo-container {
		width: 48%;
		float: left;
		margin-left: 4%;
	}
}
@media (min-width: 769px) and (max-width: 1024px) { 
	.photo-container:nth-child(2n+1) {
		margin-left: 0;
		clear: left;
	}
	.n-ireland{margin-left: -100px}
}
@media (min-width: 1025px) { 
	.photo-container {
		width: 30.63973064%;
	}
	.photo-container:nth-child(3n+3) {
		margin-left: 0;
		clear: left;
	}
}

@media (max-width: 50em) {
    
    body {
        
    }
    
article {
    width: 100%;
    padding: 0em;
	margin-top:36em;
    } 
	
	body{width:100%;
	padding: 0em;
	margin: 0;}
	nav{top:-5em;}
	.portrait{ width: 250px;
	 top:17em}
	
	h1{font-size:3.5em;
	margin:0;
	padding:0;}
	
	p{font-size: 1.5em;
	width: 100%;
	margin:0;
	padding:1.5em 2em 1,5em 2em;}
	
	h1, p {margin-left: -8
		70px;
	width: 100%}
	
	a h3{font-size: 1em}
	
	.me blockquote p {float:none;
	position: relative;
	width:100%;
	top: 0.6em;
	font-size:2em;
	text-align: center}
	.n-ireland{margin-left: -260px}

}
@media (max-width: 30em) {
    
    body {
        
    }
    
	 
article {
    width: 100%;
    padding: 0em;
	margin-top:35em;
    } 
	
	
	nav ul li { color:;
		font-size: 0.6em;
	padding: .6em 0 .6em 0
		;
	}
	nav a{opacity: 0}
nav2 { position: fixed; 
    top: 0;
    left:0;
    width:100%;
	background-color: rgba(244, 243,215,100)
     
    
      }
   
        
nav2 ul{ font-family: ubuntu;
    font-size: 1em;
             text-align: center;
             text-transform: uppercase;
    
             letter-spacing: 1px;
   
       }

nav2 ul li {
    
    display: inline;
   padding: .25em
    }
	.fixed-me{padding:em}
	.fixed-portfolio{}
	.fixed-blog{}
	.fixed-e-mail{top: }		
	nav2 img{transform: scale(0.7)}
	.About-me { 
	padding-left:9em;
		
}
	
.Blog { background-color: rgb(181,185,249);
	padding-left:16.4em;
}
.Portfolio { background-color: rgb(255,196,196);
	padding-left:11em;
}
.Where-i-am { background-color: rgb(249,255,196);
	padding-left:10.5em;
}
.e-mail { background-color: rgb(198,255,196);
	padding-left:16em;
}
	
	.portrait{width:200px;
	margin-left:-100px;
	margin-top:-200px}
	
	body{width:100%;
	padding: 0em;
	margin: 0;}
	
	
	h1{font-size:3em;
	margin:0;
	padding:0;}
	
	p{font-size: 1em;
	width: 100%;
	margin:0;
		background-color: rgba(255,255,255,0.2)
			;
		padding: 1em;
	}
	
	h1, p {margin-left: -70px;
	width: 170%}
	
	a h3{font-size: 1em}
	
	.me blockquote p {float:none;
	position: relative;
	width:170%;
	top: 0.6em;
	font-size:2em;
	text-align: center}
	
	.me hr{width: 160%;
	margin-left: -60px;
	padding-bottom: 1.5em}
	
	.container {width:180%;
		padding: 0 2em;
		margin-left: -60px;
	
	}
	.container h1, .container hr{margin-left: -40px}
	.container hr{width: 100%
	}
	.photo-container{ width: 100%;
	margin-left: -40px}
	
	.location p{margin:auto;
	margin-left:-30px;
		padding:0em;
		width:150%;}
	.n-ireland{margin-left: -360px}
	.n-ireland img{transform: scale(0.7)}
	.n-ireland img:hover{transform: scale(0.7)}
	.antrim{left:9.7em;
	top:-19.6em;}
	.tyrone{top:-56.4em;
		left:-7.6em ;}
	.armagh{top:-31.5em;
	left:-10.4em;}
	.fermanagh{top:-68.2em;
	left: -9.7em}
	.down{left:12em;
	top: -30.8em}
	

}